{% extends "base.html" %}
{% block content %}

    <h2 class="center-align">Register</h2>

  <div class="row">
    <div class="col s12 m8 offset m2" method="POST" action="{{ url_for('register') }}">
      <div class="card-panel">
          <!--username-->
          <div class="row">
            <form class="input-field col s12">
                <div class="row">
                    <div class="input-field col s12">
                    <i class="fa fa-user-plus"></i>
                    <input id="username" name="username" class="materialize-textarea">
                    <label for="username">Username</label>
                    </div>
                </div>
            </form>
          </div>
          <!--password-->
          <div class="row">
            <form class="input-field col s12">
                <div class="row">
                    <div class="input-field col s12">
                    <i class="fa fa-user-lock"></i>
                    <input id="password" name="username" class="materialize-textarea">
                    <label for="password">Password</label>
                    </div>
                </div>
            </form>
          </div>
          <!--register-->
          <div class="row">
            <form class="input-field col s12">
                <button type="submit" class="col s12 btn-large">Register<i class="fas fa-sign-in-alt"></i></button>
            </form>
          </div>      

        
      </div>
    </div>
  </div>

{% endblock %}